
/* General settings */

@import url(https://db.onlinewebfonts.com/c/6b2d532d2a62dade858748f086e69043?family=PP+Eiko+Medium); 
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5?styles=103506');@font-face {
    font-family: "PP Eiko Medium";
    src: url("https://db.onlinewebfonts.com/t/6b2d532d2a62dade858748f086e69043.eot");
    src: url("https://db.onlinewebfonts.com/t/6b2d532d2a62dade858748f086e69043.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6b2d532d2a62dade858748f086e69043.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6b2d532d2a62dade858748f086e69043.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/6b2d532d2a62dade858748f086e69043.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/6b2d532d2a62dade858748f086e69043.svg#PP Eiko Medium")format("svg");
}

#body-index{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Andika', sans-serif;
    background-image: url("../images/digital-global-connection-network-technology-background/23324.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#body-page{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Andika', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #F8F8F8;
}



/* Responsive */

.container{
    display: grid;
    /* width: 100%;
    height: 100%; */
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nav"
    "sec";
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nav"
    "hed"
    "sec";
}


/* Navbar */

@media screen and (min-width: 1000px){

    #body-index{
        height: 100vh;
        width: 100vw;
    }

    nav{
        grid-area: nav;
        width: 100%;
        height: 50px;
        /* position: fixed; */
        background-color: #090909;
    }

    #block-img{
        background-color: #090909;
        display: inline-block;
        width: auto;
        height: 50px;
    }
    nav img{
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        margin: 0px 0px 0px 2em;
        vertical-align: middle;
    }

    #block-list{
        background-color: #090909;
        display: inline-block;
        text-align: center;
        position: absolute;
        height: 50px;
        width: auto;
        top: 0;
        right: 0;
    }
    nav #menu-list{
        list-style-type: none;
        line-height: 50px;
        margin: 0;
        padding: 0;
    }
    nav #menu-list li{
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    nav #menu-list li a{
        font-size: 20px;
        text-decoration: none;
        margin: 0 2em;
    }
}
@media screen and (max-width: 1000px){

    #body-index {
        background-size: cover;
    }

    nav{
        grid-area: nav;
        top: 0;
        width: 100%;
        text-align: center;
    }

    #block-img{
        display: block;
        background-color: #090909;
    }
    nav img{
        display: inline-block;
        width : 6em;
        height : auto;
        vertical-align: middle;
    }

    #block-list{
        display: block;
        background-color: #090909;
        padding: 2em 0 2em 0;
    }

    nav #menu-list{
        list-style-type: none;
        line-height: 3em;
        vertical-align: middle;
        margin: 0;
        padding: 0;
    }
    nav #menu-list li{
        display: block;
        margin: 0;
    }
    nav #menu-list li a{
        font-size: 20px;
        text-decoration: none;
    }
}

.yellow-button{
    color: #D9A21B;
}
nav div ul li a{
    color: #F8F8F8;
}
nav div ul li a:hover{
    color: #FFEECB;
}

/* Corps de la page index */

#banner{
    height: 90vh;
    grid-area: sec;
}

#block-banner{
    text-align: center;
    background-color: #e1f1ff6c;
    padding: 4em 0 4em 0;
    margin: 30vh 4em 0;
    border-radius: 30px;
    color: #F8F8F8;
    line-height: 4em;
}
#block-banner h1{
    display: block;
    font-size: 40px;
    margin: 0;
    padding: 0;
}
#block-banner h5{
    display: block;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

/* Corps de page About me */

#header-am{
    grid-area: hed;
    text-align: left;
    height: 80vh;
    position: relative;
    background-color: #09090927;
    background-image: url("../images/vue-frontale-ordinateur-portable-tasse-cafe.jpg");
    background-size: cover;
    background-position: center;
}

#header-am h1{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0 0 50px 50px;
    font-family: "PP Eiko Medium";
    font-size: 8vw;
    color: #ffeecb;
}

section{
    display: block;
    grid-area: sec;
    /* background-color: #ffeecb; */
    margin: 6vh 6vw 6vh 6vw;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
}

section span{
    display: block;
    text-align: center;
    font-size: 0.8em;
    line-height: 0.5em;
}
section h1{
    font-size: 2em;
}


section img{
    max-height: 30%;
    max-width: 50%;
    border: solid 1px #090909;
    border-radius: 10px;
}
section p{
    text-align: center;
    font-size: 2em;
    padding: 1vh 0 6vh 0;
}

