/* Home page */

        #body1{
            background-image: url("../images/digital-global-connection-network-technology-background/23324.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            margin: 0 auto;
            font-family: 'Andika', sans-serif;
            height: 100vh;
        }

        /* Partie grid */
        .wrapper{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows : minmax (50 px , auto );
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            width: 100vw;
            height: 100vh;
            grid-template-areas:
            "nav"
            "sec";
        }

        /* Partie bannière */

        #banner{
            grid-area: sec;

        }
        #central-banner{
            display: grid;
            background-color: #e1f1ff7c;
            border-radius: 30px;
            padding: 30px 0px 30px 0px;
            margin: 0px 50px 0px 50px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
            " imgb ban .";
        }
        #banner p{
            grid-area: ban;
            text-align: center;
            font-family: arial;
            font-size: 350%;
            place-self: center;
            color: white;
        }
        #img-circle{
            grid-area: imgb;
            background-image: url("../images/Thomas\ Vialon\ Tshirt\ CLS.jpg");
            background-size: 20vw;
            width: 20vw;
            height: 20vw;
            border-radius: 50%;
            margin: auto;
            border: solid 5px #3F5274;
        }


/* Partie Navbar */

        nav{
            grid-area: nav;
        }

        nav ul{
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            /* justify-content: center; */
            justify-items: center;
            list-style-type: none;
            margin: 0px;
            background-color: black;
            grid-template-areas: 
            "img . . . . hom abm int obj src";
        }
        nav ul li{
            padding: 0px;
            width: 90%;
            text-align: center;
            line-height: 50px;
            font-size: 20px;
        }
        nav ul li a{
            text-decoration: none;
            font-weight: bold;
            color: white;
        }
        nav ul li a:hover{
            color: #FFEECB;
        }
        .yellow-title{
            color: #D9A21B;
        }
        #home-title{
            grid-area: hom;
        }
        #about-title{
            grid-area: abm;
        }
        #interests-title{
            grid-area: int;
        }
        #objectives-title{
            grid-area: obj;
        }
        #sources-title{
            grid-area: src;
        }
        #img-menu{
            grid-area: img;
            width: 60px;
            padding-top: 4px;
        }


/* Partie All pages */

        #body-page{
            background-color: #0B083F;
            margin: 0 auto;
            font-family: 'Andika', sans-serif;
            height: 100vh;
        }

        .content{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows : minmax (50 px , auto );
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            width: 100vw;
            /* height: 100vh; */
            grid-template-areas:
            "nav"
            "hed";
        }

        .header{
            grid-area: hed;
            margin: 0px;
            padding: 0px;
        }
        .header h1{
            font-size: 250%;
            color: #FFEECB;
            text-align: center;
            place-self: center;
        }
