
/* General settings */
html {
    scroll-behavior: smooth;
}



@import url(https://db.onlinewebfonts.com/c/6b2d532d2a62dade858748f086e69043?family=PP+Eiko+Medium); 
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5?styles=103506');@font-face {
    font-family: "PP Eiko Medium";
    src: url("https://db.onlinewebfonts.com/t/6b2d532d2a62dade858748f086e69043.eot");
    src: url("https://db.onlinewebfonts.com/t/6b2d532d2a62dade858748f086e69043.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6b2d532d2a62dade858748f086e69043.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6b2d532d2a62dade858748f086e69043.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/6b2d532d2a62dade858748f086e69043.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/6b2d532d2a62dade858748f086e69043.svg#PP Eiko Medium")format("svg");
}

#body-index{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
    background-image: url("../images/digital-global-connection-network-technology-background/23324.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#body-page{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #F8F8F8;
}



/* Responsive */

.container{
    display: grid;
    /* width: 100%;
    height: 100%; */
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nav"
    "sec";
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nav"
    "hed"
    "sec"
    "ft";
}


/* Navbar */

@media screen and (min-width: 1000px){

    #body-index{
        height: 100vh;
        width: 100vw;
    }

    nav{
        grid-area: nav;
        width: 100%;
        height: 50px;
        background-color: #090909;
        font-family: 'Andika', sans-serif;
    }

    #block-img{
        background-color: #090909;
        display: inline-block;
        width: auto;
        height: 50px;
    }
    nav img{
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        margin: 0px 0px 0px 2em;
        vertical-align: middle;
    }

    #block-list{
        background-color: #090909;
        display: inline-block;
        text-align: center;
        position: absolute;
        height: 50px;
        width: auto;
        top: 0;
        right: 0;
    }
    nav #menu-list{
        list-style-type: none;
        line-height: 50px;
        margin: 0;
        padding: 0;
    }
    nav #menu-list li{
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    nav #menu-list li a{
        font-size: 20px;
        text-decoration: none;
        margin: 0 2em;
    }
}
@media screen and (max-width: 1000px){

    #body-index {
        background-size: cover;
    }

    nav{
        grid-area: nav;
        top: 0;
        width: 100%;
        text-align: center;
        font-family: 'Andika', sans-serif;

    }

    #block-img{
        display: block;
        background-color: #090909;
    }
    nav img{
        display: inline-block;
        width : 6em;
        height : auto;
        vertical-align: middle;
    }

    #block-list{
        display: block;
        background-color: #090909;
        padding: 2em 0 2em 0;
    }

    nav #menu-list{
        list-style-type: none;
        line-height: 3em;
        vertical-align: middle;
        margin: 0;
        padding: 0;
    }
    nav #menu-list li{
        display: block;
        margin: 0;
    }
    nav #menu-list li a{
        font-size: 20px;
        text-decoration: none;
    }
}

.yellow-button{
    color: #D9A21B;
}
nav div ul li a{
    color: #F8F8F8;
}
nav div ul li a:hover{
    color: #FFEECB;
}

/* Corps de la page index */

#banner{
    height: 90vh;
    grid-area: sec;
}

#block-banner{
    text-align: center;
    background-color: #e1f1ff6c;
    padding: 4em 0 4em 0;
    margin: 30vh 4em 0;
    border-radius: 30px;
    color: #F8F8F8;
    line-height: 4em;
}
#block-banner h1{
    display: block;
    font-size: 40px;
    margin: 0;
    padding: 0;
}
#block-banner h5{
    display: block;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

/* Corps des pages*/

.header{
    grid-area: hed;
    text-align: left;
    height: 50vh;
    position: relative;
    background-color: #09090927;
    background-size: cover;
    background-position: center;
}

.header h1{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0 0 50px 50px;
    font-family: "PP Eiko Medium";
    font-size: 8vw;
    color: #ffeecb;
}

#header-am{
    background-image: url("../images/vue-frontale-ordinateur-portable-tasse-cafe.jpg");
}
#header-in{
    background-image: url("../images/milky-way-4526277_1920.jpg");
}
#header-obj{
    background-image: url("../images/arriere-plan-stockage-nuage-remixe-du-domaine-public-par-nasa.jpg");
}
#header-src{
    background-image: url("../images/photo-recadree-jeune-homme-serieux-assis-dans-coworking-bureau.jpg");
}





section{
    display: block;
    grid-area: sec;
    margin: 0 6vw 0 6vw;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
}
section span{
    display: block;
    text-align: center;
    font-size: 0.8em;
    line-height: 0.5em;
    margin-top: 4vh;
}
section hr{
    margin-bottom: 8vh;
}
section h1{
    font-size: 3em;
}


@media screen and (min-width: 1000px){
    section img{
        margin-bottom: 1vh;
        height: 300px;
        border: solid 1px #090909;
        border-radius: 10px;
    }
}

@media screen and (max-width: 1000px){
    section img{
        display: inline-block;
        margin-bottom: 1vh;
        height: 180px;
        border: solid 1px #090909;
        border-radius: 10px;
    }
}





section p{
    text-align: center;
    font-size: 1.5em;
    /* margin: 3vh 0 10vh 0; */
}

@media screen and (min-width: 1000px){

    section table{
        border-collapse: collapse;
        width: 100%;
        margin: 10vh 0 10vh;
        font-size: 1.5em;
    }
    section tr{
        text-align: left;
    }
    section th{
        vertical-align: top;
        width: 25vw;
        font-weight: bold;
        font-size: 1em;
    }
    .name-school{
        font-size: 1em;
        text-align: left;
        line-height: 1em;
        font-weight: lighter;
        margin: 0;
    }
    section td{
        font-weight: bold;
        font-size: 1em;
    }
}
@media screen and (max-width: 1000px){

    section table{
        border-collapse: collapse;
        width: 100%;
        margin: 10vh 0 10vh;
        font-size: 1.5em;
    }
    section tr{
        text-align: left;
    }
    section th{
        vertical-align: top;
        width: 25vw;
        font-weight: bold;
        font-size: 1em;
    }
    .name-school{
        font-size: 1em;
        text-align: left;
        line-height: 1em;
        font-weight: lighter;
    }
    section td{
        font-weight: bold;
        font-size: 1em;
    }
}

#contact{
    margin: 0 0 6vh 0;
}
#contact div{
    text-align: center;
    margin: 0;
    padding-bottom: 4vh;
}
#contact div h2{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5em;
}
#contact div img{
    vertical-align: middle;
    display: inline-block;
    width: 50px;
    height: 50px;
}
#contact a{
    text-decoration: none;
    color: #090909;
}
#contact a:hover{
    color: #D9A21B;
}




/* Pieds de page */

footer{
    grid-area: ft;
    display: block;
    height: 50px;
    background-color: #090909;
    color: #F8F8F8;
    text-align: center;
    line-height: 50px;
    font-size: 0.8em;
}
